
  .calculator {
    border: 1px solid #078390;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

  .top {
    display: grid;
    
  }

  .clear {
    color: black;
    background-color: #2bd233;
    width: 100px;
   
  }
  
  .display {
    font-size: 50px;
    background-color: #c97c0f;
    text-align: right;
    border: 1px solid;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  button {
    height: 60px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: #078390;
    font-size: 2rem;
    color: white;
  }

  .divide {
    color: black;
    background-color: #9d9aef;
  }
  .multi {
    color: black;
    background-color: #9d9aef;
  }
  .minus {
    color: black;
    background-color: #9d9aef;
  }
  .decimal {
    color: black;
    background-color: #7dd85a;
  }
  .equal {
    color: black;
    background-color: #ec73b6;
  }
  .plus{
    color: black;
    background-color: #9d9aef;
  }
